@menu_animation_time: 0.7s;

html,
body,
div,
p,
ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
.full-screen {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

body {
  background-color: black;
  max-height: 100%;
  overflow: hidden;
}

#glsandbox {
  display: flex;

  .render-panel {
    position: relative;
    flex: 1 0;
    overflow: hidden;

    canvas {
      width: 100%;
      height: 100%;
    }

    canvas:focus {
      border: none;
      outline: none;
    }
  }

  .canvas-overlay {
    position: absolute;
    user-select: none;
    pointer-events: none;

    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #0c0c0ca7;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;

    &.hidden {
      display: none;
    }

    .fps {
      font-size: 1em;
      min-width: 2em;
      font-weight: bold;
      color: #60ee60;
      text-align: center;
    }

    .button {
      display: flex;
      align-items: center;
      pointer-events: all;
      cursor: pointer;

      img {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.5;
      }
    }

  }

  .control-panel {
    flex: 0;

    &.closed {
        border: none;
    }

    .control-panel-content {
      display: flex;
      flex-direction: column;

      max-width: 100%;
      max-height: 100%;

      padding: 5px;

      color: white;

      .sandbox-title {
        flex: 0;
        padding: 5px;
        display: flex;
        column-gap: 5px;
        font-size: 18px;

        span {
          flex-grow: 1;
          text-align: center;
          display: inline-block;
          white-space: nowrap;
        }

        img {
          float: right;
          height: 16px;
          margin-left: 8px;
          cursor: pointer;
        }
      }

      hr {
        width: 100%;
      }

      .parameters-table {
        display: grid;
        grid-template-columns: 5em 1fr;
        column-gap: 5px;
        row-gap: 8px;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden auto;

        hr {
          grid-column: span 2;
          margin: 10px 0;
        }

        .row {
          grid-column: span 2;
        }
      }

      .capitalized {
        text-transform: capitalize;
      }

      input {
        padding: 0;
        margin: 0;
        height: 1.3em;
      }

      .inputs {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
      }

      select {
        height: 1.6em;
        width: fit-content;
      }

      .object {
        grid-column: span 2;

        width: 100%;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 5px;

        h2 {
          font-size: 18px;
          font-weight: bold;
          margin: 0 0 5px 0;
          padding: 0;
        }
      }

      .vector-dimensions {
        display: grid;
        grid-template-columns: 0fr 1fr;
      }

      .json {
        grid-column: span 2;
      }

      textarea.json {
        grid-auto-rows: 1fr;
        min-height: 250px;
        resize: none;
      }
    }
  }
}

.rnn-controls {
  overflow: auto;
  max-height: 100%;

  .rnn-accuracy label {
    margin-right: 5px;
  }

  .layer,
  .neuron {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 5px;

    h2 {
      font-size: 16px;
      margin: 0 0 5px 0;
    }
  }

  .neuron {
    display: grid;
    grid-template-columns: 0fr 0.5fr 0.5fr;
  }
}

@media (orientation: landscape) {
  #glsandbox {
    flex-direction: row;
  }

  .canvas-overlay {
    right: 5px;
    top: 5px;
    width: auto;

    .button {
      img {
        transform: rotate(180deg);
        transition: transform @menu_animation_time;
      }
    }

    &.open .button img {
      transform: rotate(0);
    }
  }

  .control-panel {
    width: 30vw;
    height: 100%;

    border-left: 1px solid #d0d0d080;

    &.closing, &.closed {
      width: 0;
    }

    &.opening, &.closing {
      transition: width @menu_animation_time;
    }
  }
}

@media (orientation: portrait) {

  #glsandbox {
    flex-direction: column;

    .canvas-overlay {
      right: 5px;
      bottom: 5px;

      .button {
        img {
          transform: rotate(270deg);
          transition: transform @menu_animation_time;
        }
      }

      &.open .button img {
        transform: rotate(90deg);
      }
    }

    .control-panel {
      width: 100%;
      height: 30vh;

      border-top: 1px solid #d0d0d080;

      &.closing, &.closed {
        height: 0;
      }

      &.opening, &.closing {
        transition: height @menu_animation_time;
      }

    }

  }
}
